body{
  background-image: linear-gradient(to right, rgb(122, 144, 165),rgb(106, 172, 172));
}
.stForm{
  border: 6px solid rgb(76, 76, 76);
  border-radius: 18px;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  box-shadow: 5px 7px 12px rgb(35, 35, 35);
  background-image: linear-gradient(-40deg, rgb(130, 168, 206)50%, rgb(160, 215, 215) 49%);
}
.form-control{
  border: 3.5px solid rgb(76, 76, 76);
  border-radius: 12px;
  box-shadow: 3px 4px 8px black;
}
.form-control:focus{
  border: 3.5px solid rgb(76, 76, 76);
}
.form-control:focus{
  border: 3.5px solid #41a04b;
  box-shadow: 3px 4px 8px black;
}
.stBtn{
  border-radius: 8px;
  background-color: rgb(160, 215, 215);
  box-shadow: 3px 4px 8px black;
}
.stBtn:hover{
  background-color: rgb(99, 198, 198);
}
.stBtn:active{
  color: white;
  background-color: rgb(35, 159, 159);
}
.titleBar{
  border-bottom: 10px solid rgb(76, 76, 76);
  box-shadow: 5px 7px 12px rgb(35, 35, 35);
  background-image: linear-gradient(to bottom, rgb(37, 96, 154), rgb(85, 142, 198));
}
.titleAssist{
  font-size: 2.8vw;
}

/* AssistForm page */
.borLine{
  font-size: 1.1vw;
  padding: 0.8%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  border: 3px solid rgb(76, 76, 76);
  border-radius: 1vw;
  background-color: rgb(222, 222, 222);
  box-shadow: 0.3vw 0.4vw 0.7vw rgb(32, 32, 32);
}
.btnAssist{
  font-size: 1.1vw;
  border-radius: 1vw;
  box-shadow: 0.2vw 0.3vw 0.5vw black;
  color: black;
}

/* Estilos por break pointss */
@media screen and (max-width: 767px) {
  .form-control{
    font-size: 4vw;
  }
  .stBtn{
    font-size: 4vw;
  }
  .titleAssist{
    font-size: 8vw;
  }
  /* AssistForm page */
  .borLine{
    font-size: 1.93vw;
  }
  .btnAssist{
    font-size: 1.93vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .form-control{
    font-size: 2.5vw;
  }
  .stBtn{
    font-size: 2.5vw;
  }
  .titleAssist{
    font-size: 7.8vw;
  }
  /* AssistForm page */
  .borLine{
    font-size: 1.75vw;
  }
  .btnAssist{
    font-size: 1.75vw;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .form-control{
    font-size: 2.0vw;
  }
  .stBtn{
    font-size: 2.0vw;
  }
  .titleAssist{
    font-size: 6.5vw;
  }
  /* AssistForm page */
  .borLine{
    font-size: 1.45vw;
  }
  .btnAssist{
    font-size: 1.45vw;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .form-control{
    font-size: 1.4vw;
  }
  .stBtn{
    font-size: 1.4vw;
  }
  .titleAssist{
    font-size: 5vw;
  }
  /* AssistForm page */
  .borLine{
    font-size: 1.2vw;
  }
  .btnAssist{
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 1401px){
  .form-control{
    font-size: 1.1vw;
  }
  .stBtn{
    font-size: 1.1vw;
  }
  .titleAssist{
    font-size: 2.8vw;
  }
  /* AssistForm page */
  .borLine{
    font-size: 1.05vw;
  }
  
  .btnAssist{
    font-size: 1.05vw;
  }
}